/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* banner background image */
.banner {
  background-image: url("https://i.ibb.co/92YRK0L/camping-hero-0-0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

/* // about image */
.about-image {
  width: 300px;
}

/* service image */
.service:hover .service-image {
  transform: scale(1.5);
}
